.calculator
{
    background-color: rgb(57, 55, 55);
    height: 500px;
    width: 300px;
    border-radius: 10px;
    margin:auto;
    margin-top: 100px;
}

.name
{
    color: white;
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 10px;

}

.screen
{
    margin-left: 15px;
    margin-right: 20px;
    background-color:cadetblue;
    padding: 10px;
    width: 250px;
    font-size: 20px;
    display: block;
}

.row
{
    margin: 25px;
    display: flex; 
    justify-content: space-evenly;
}

.button
{
  padding: 7px;
  margin-left: 8px;
  margin-right: 8px;
  height: 35px;
  width: 35px;
  Border-radius: 50%;
  background-color:black;
  color: grey;
  border: 1.4px solid grey;
}

.color
{
   
    padding: 7px;
    margin-left: 8px;
    margin-right: 8px;
    height: 38px;
    width: 38px;
    Border-radius: 50%;
    background-color: rgb(189, 184, 184);
    border: 1.4px solid black;
}

.red
{
    padding: 7px;
    margin-left: 8px;
    margin-right: 8px;
    height: 35px;
    width: 35px;
    Border-radius: 50%;
    background-color: rgb(228, 31, 31);
    border: 2.3px solid black; 
}

.button:hover
{
    padding: 9.5px;
    border: 1.6px solid grey;
}

.color:hover
{
    padding: 9.5px;
    border: 1.6px solid black;
}

.red:hover
{
    border: 2.5px solid black;
}