.buttonContainer{
  display : flex;
  justify-content: center;
  flex-wrap : wrap;
}

.button {
  width : 61px;
  height : 55px;
  margin : 5px;
  font-size : 20px;
  border-radius: 50%;
  background-color: rgb(229, 224, 224);
}
.button:hover {
  cursor : pointer;
  font-size : 24px;
  background-color: rgb(207, 201, 201);
}